/*********************** VARIABLES ***********************/
/*********************************************************/

// Background colors
$color-bg-main: #FFFFFF;
$color-bg-second: #F6F6F6;
$color-bg-third: #EAEAEA;
$color-bg-footer: #353535;

// Text colors
$title-text-dark: #000000;
$title-text-light: #FFFFFF;

// Howto colors
$color-howto-main: #9356DC;
$color-howto-secondary: #7E7E7E;

// 
$color-green-light: #99E2D0;
$color-green-dark: #008766;

$color-blue-light: #89C8FA;
$color-blue-dark: #003A68;

// Gradients
$gradient-main: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);

/******************** PLACEHOLDERS ***********************/
/*********************************************************/

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-justify-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

%flex-justify-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

%flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*********************** MIXINS **************************/
/*********************************************************/

