/*********************** GENERAL *************************/
/*********************************************************/

@import './_statics';

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto';
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; // Reminder, this is needed for the z-index of the header box-shadow
}

main {
    color: $text-dark;
}

a {
    color: $text-dark;
    text-decoration: none;
}


/*********************** COMMONS *************************/
/*********************************************************/

.main-button {
    height: 50px;
    cursor: pointer;

    /* SCALE TRANSITION */
    transform: scale(1);
    @include hover-scale(1.01, 200ms);
    @include active-scale(0.98, 200ms);


    /* COLOR TRANSITIONS */
    /* Default style */
    background-image: $gradient-main;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);   
    border: none;
    border-radius: 25px;
    
    /* Create a second bg as a ::after pseudo-element */
    &::after {
        /* The property content: is needed, but left empty*/
        content: "";

        /* Setup the pseudo-element exactly on top*/
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;

        /* Hover styling */
        z-index: -1;
        background-image: $gradient-main--hover;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
        border: none;
        border-radius: 25px;

        /* Transition */
        transition: opacity 400ms;
        opacity: 0;
    }

    /* Show the second bg on hover */
    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &__text {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $text-light;
    }
}

.section-title {
    font-size: 24px;
    font-weight: 700;

    padding: 0px 20px;
}

.desktop-container {
    @media (min-width: 1080px) { /* Media query for desktops */
        max-width: 1080px;
        margin: auto;
    }
}

.logo-ohmyfood {
    font-weight: 400;
    font-family: 'Shrikhand';
}


/************************ HEADER *************************/
/*********************************************************/
.header {
    z-index: 1;
    height: 63px;
    background-color: $color-bg-main;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    @extend %flex-center;

    @media (min-width: 769px) { /* Media query for tablets */
        height: 96px;
    }
    
    &__arrow {
        position: absolute;
        top: 24px; left: 23px;

        color: #353535;
        font-size: 18px;

        /* SCALE TRANSITION */
        transform: scale(1);
        @include hover-scale(1.2, 200ms);
        @include active-scale(0.9, 200ms);

        @media (min-width: 769px) { /* Media query for tablets */
            top: 40px;
        }
    }

    &__title {
        height: 44px;
        font-size: 30px;
        text-align: center;

        @media (min-width: 769px) { /* Media query for tablets */
            font-size: 34.2px;

            padding-top: 30px;
            padding-bottom: 31.8px;
        }
    }
}


/************************* MAIN **************************/
/*********************************************************/
.geoloc {
    z-index: 0;
    height: 50px;
    background-color: $color-bg-third;
    //background-color: rgba(0, 0, 0, 0); // debug for header drop shadow
    
    @extend %flex-center;
    column-gap: 17px;

    &__icon {
        font-size: 16px;
    }

    &__text {
        font-size: 16px;
        font-weight: 500px;
    }
}

.headlines {
    background-color: $color-bg-second;
    text-align: center;
    padding-top: 39.5px;
    padding-bottom: 57px;

    @media (min-width: 769px) { /* Media query for tablets */
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__main {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;

        padding: 0px 39.5px;

        @media (min-width: 769px) { /* Media query for tablets */
            font-size: 40px;
        }
    }

    &__secondary {
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;

        padding: 0px 30px;
        padding-top: 18px;

        @media (min-width: 769px) { /* Media query for tablets */
            padding-top: 35px;
        }
    }

    &__button {
        width: 218px;
        margin-top: 27px;
    }
}


/************************ HOWTO **************************/
.howto {
    background-color: $color-bg-main;

    padding-top: 48px;
    padding-bottom: 68px;

    @media (min-width: 769px) { /* Media query for tablets */
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__title {
        padding-bottom: 26px;
    }

    &__flex-container {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        padding: 0px 20px 0px 32px;

        @media (min-width: 769px) { /* Media query for tablets */
            flex-direction: row;
            column-gap: 36.51px;
        }
    }

    // Rounded rectangles with howto steps //
    &__step {
        @extend %flex-justify-start;

        height: 72.38px;
        
        border-radius: 20px;
        background-color: $color-bg-second;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

        @media (min-width: 769px) { /* Media query for tablets */
            width: 33%;
        }
    }

    &__step-index {
        width: 24px;
        height: 24px;

        position: relative;
        left: -12px;

        border-radius: 24px;
        background-color: $color-howto-main;

        @extend %flex-center;

        font-size: 15px;
        color: $color-bg-main;
    }

    &__step-icon {
        margin-left: 13px;

        font-size: 20px;
        color: $color-howto-secondary;

        &--purple {
            color: $color-howto-main;
        }
    }

    &__step-text {
        margin-left: 27px;

        font-size: 16px;
        font-weight: 500;
    }
}


/********************* RESTAURANTS ***********************/
.restaurants {
    padding-top: 54px;
    padding-bottom: 66px;

    background-color: $color-bg-second;

    @media (min-width: 769px) { /* Media query for tablets */
        padding-top: 30px;
        padding-bottom: 30px;
    }

    // Restaurants section title //
    &__title {
        margin-bottom: 29px;
    }

    // Restaurants section container //
    &__flex-container {
        display: flex;
        flex-direction: column;
        row-gap: 18px;

        padding: 0px 18px;

        @media (min-width: 769px) { /* Media query for tablets */
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 50px;
        }
    }

    // Restaurants cards //
    &__card {
        height: 251px;
        
        border-radius: 15px;
        background-color: $color-bg-main;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

        position: relative; // Reminder, this is needed for notification's position: absolute;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 769px) { /* Media query for tablets */
            width: 46%;
        }

        transition: transform 200ms, box-shadow 400ms;
        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        }
    }

    &__card-img {
        height: 70%;
        border-radius: 15px 15px 0px 0px;

        object-fit: cover;
    }

    &__card-content {
        height: 30%;
        @extend %flex-space-between;
    }

    &__card-text {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        padding-left: 13px;
    }

    &__card-title {
        font-size: 18px;
        font-weight: 700;
    }

    &__card-location {
        font-size: 17px;
        font-weight: 300;
    }

    &__card-icon {
        margin: 20px;
        font-size: 22px;
        cursor: pointer;

        /* SCALE TRANSITION */
        transform: scale(1);
        @include hover-scale(1.1, 200ms);
        @include active-scale(0.95, 200ms);

        --fa-style: 400; // Font Awesome regular style
        /* COLOR TRANSITIONS */
        &:hover {
            --fa-style: 900; // Font Awesome solid style

            background: $gradient-main--hover;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    // New restaurant notification //
    &__notif-bloc {
        height: 29px;
        border-radius: 2px;

        position: absolute; // Reminder: the parent bloc need position: relative;
        top: 13px; right: 13px;

        @extend %flex-center;

        z-index: 1;
        background-color: $color-notif-light;
    }

    &__notif-text {
        padding: 0px 11px;

        font-size: 14px;
        font-weight: 500;
        color: $color-notif-dark;
    }
}


/****************** RESTAURANTS PAGES ********************/
.restaurant-bg img{
    width: 100%;
    height: 275px;

    z-index: -1;
    object-fit: cover;
    position: absolute;
}

.menu {
    width: 100%;

    background-color: $color-bg-second;
    border-radius: 40px 40px 0px 0px;

    margin-top: 220px;

    &__title-container {
        padding: 32px 17px 42px 17px;

        @extend %flex-space-between;

        @media (min-width: 769px) { /* Media query for tablets */
            justify-content: center;
            column-gap: 24px;
        }
    }

    &__title-txt {
        font-size: 28px;
        font-weight: 400;
        font-family: 'Shrikhand';
    }

    &__like-icon {
        margin: 0;
        padding: 0;
    }

    &__section  {
        padding: 0px 13px 40px 13px;

        display: flex;
        flex-direction: column;
        row-gap: 12px;

        @media (min-width: 769px) { /* Media query for tablets */
            max-width: 634px;
            margin: auto;
        }
    }


    &__section-title {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;

        &::after {
            content: "";
            height: 3px;
            width: 40px;

            margin-top: 6px;
            display: block;

            background-color: $color-notif-light;
        }
    }

    &__meal-card {  
        @extend %flex-space-between;
        align-items: flex-end;

        background-color: $color-bg-main;
        border-radius: 15px;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);

        h4 {
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
        }

        h5 {
            font-size: 15px;
            font-weight: 300;
            line-height: 18px;
        }

        .menu__meal-card-notif {
            content: "";
            width: 0px;
            height: 69px;
            @extend %flex-center;
            border-radius: 0px 15px 15px 0px;
            background-color: $color-notif-light;
            background-color: #99E2D0;

            transition: width 400ms;
        }

        .menu__meal-card-notif-icon {
            transform: scale(0);

            font-size: 20px;
            -webkit-text-fill-color: $color-bg-main;
            color: $color-notif-light;

            transition: transform 400ms;
        }

        &:hover {
            .menu__meal-card-notif {
                width: 59px;
            }

            .menu__meal-card-notif-icon {
                transform: scale(1);
            }
        }
    }

    &__meal-card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 4px;

        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
    }

    &__meal-card-price-container {
        display: flex;
        flex-direction: row;
        align-items: end;
    }

    &__meal-card-price {
        font-size: 18px;
        font-weight: 500;
        padding-right: 16px;
        padding-bottom: 12px;
    }

    &__button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        width: 186px;
    }
}




/************************ FOOTER *************************/
/*********************************************************/
.footer {
    color: $text-light;
    background-color: $color-bg-footer;
    padding: 22px 25px;

    @media (min-width: 1024px) { /* Media query for desktops */
        //height: 114px;
        padding: 57px 25px 30px 0px;

        display: flex;
        flex-direction: row-reverse;   
        justify-content: flex-start;
        align-items: flex-end;
        column-gap: 36px;
    }

    &__title {
        font-size: 18px;
        margin-bottom: 22px;

        @media (min-width: 1024px) { /* Media query for desktops */
            margin-bottom: 0;
        }
    }
}

.footer-nav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 16px;

    @media (min-width: 1024px) { /* Media query for desktops */
        flex-direction: row;

        column-gap: 30px;
    }

    &__line {
        @extend %flex-justify-start;

        &--bold {
            font-weight: 500;
        }
    }

    &__icon {
        font-size: 13px;
        width: 22px;
    }
}


@media (min-width: 769px) { /* Media query for tablets */

}

@media (min-width: 1024px) { /* Media query for desktops */

}