/*********************** GENERAL *************************/
.loader__content, .loader__overlay, .meal-card__notif, .howto__step-index, .headlines, .geoloc, .header, .notif, .main-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav__line, .howto__step {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.meal-card, .menu__title-container, .restaurant-card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  display: flex;
  flex-direction: column;
}

main {
  color: #000000;
}

a {
  text-decoration: none;
}

@media (min-width: 1080px) {
  .desktop-container { /* Media query for desktops */
    max-width: 1080px;
    margin: auto;
  }
}

/*********************** COMMONS *************************/
.main-button {
  height: 50px;
  cursor: pointer;
  background-image: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 25px;
  /* Transitions */
  transform: scale(1);
  transition: transform 200ms;
  transition: transform 200ms;
  /* Create a second bg as a ::after pseudo-element */
  /* Show the second bg on hover */
}
.main-button:hover {
  transform: scale(1.02);
}
.main-button:active {
  transform: scale(0.98);
}
.main-button::after {
  /* The property content: is needed, but left empty*/
  content: "";
  /* Setup the pseudo-element exactly on top*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Hover styling */
  z-index: -1;
  background-image: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  border: none;
  border-radius: 25px;
  /* Transition */
  transition: opacity 400ms;
  opacity: 0;
}
.main-button:hover::after {
  opacity: 1;
}
.main-button__text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  padding: 0px 20px;
}

.logo-ohmyfood {
  font-weight: 400;
  font-family: "Shrikhand";
}

.heart-icon {
  position: relative;
  height: 100%;
  font-size: 21px;
  cursor: pointer;
  /* Animations */
}
.heart-icon::before {
  opacity: 1;
  position: absolute;
  content: "\f004";
  color: black;
  font-weight: 400;
}
.heart-icon::after {
  opacity: 0;
  content: "\f004";
  color: transparent;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
}
.heart-icon:hover {
  animation: heart-clicked 400ms both;
}
.heart-icon:hover::before {
  animation: heart-color-change 100ms reverse both;
}
.heart-icon:hover::after {
  animation: heart-color-change 100ms both;
}
@keyframes heart-color-change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes heart-clicked {
  from {
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  5% {
    transform: scale(0.9);
    animation-timing-function: ease-in-out;
  }
  10% {
    transform: translate(0px, 2px);
    animation-timing-function: ease-in-out;
  }
  80% {
    transform: scale(1.2) translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
  to {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.notif {
  height: 29px;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 1;
  background-color: #99E2D0;
}
.notif__text {
  padding: 0px 11px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}

@keyframes card-enter {
  from {
    opacity: 0;
    top: -20px;
  }
  to {
    opacity: 100%;
    top: 0px;
  }
}
/************************ HEADER *************************/
.header {
  z-index: 1;
  height: 63px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
@media (min-width: 769px) {
  .header { /* Media query for tablets */
    height: 96px;
  }
}
.header__arrow {
  position: absolute;
  top: 24px;
  left: 23px;
  color: #353535;
  font-size: 18px;
  /* SCALE TRANSITION */
  transform: scale(1);
  transition: transform 200ms;
  transition: transform 200ms;
}
.header__arrow:hover {
  transform: scale(1.2);
}
.header__arrow:active {
  transform: scale(0.9);
}
@media (min-width: 769px) {
  .header__arrow { /* Media query for tablets */
    top: 40px;
  }
}
.header__title {
  height: 44px;
  font-size: 30px;
  text-align: center;
}
@media (min-width: 769px) {
  .header__title { /* Media query for tablets */
    font-size: 34.2px;
    padding-top: 30px;
    padding-bottom: 31.8px;
  }
}

/************************* MAIN **************************/
.geoloc {
  z-index: 0;
  height: 50px;
  background-color: #EAEAEA;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.geoloc__icon {
  font-size: 16px;
}
.geoloc__text {
  font-size: 16px;
  font-weight: 500px;
}

.headlines {
  background-color: #F6F6F6;
  text-align: center;
  padding-top: 39.5px;
  padding-bottom: 57px;
  flex-direction: column;
}
@media (min-width: 769px) {
  .headlines { /* Media query for tablets */
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.headlines__main {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding: 0px 39.5px;
}
@media (min-width: 769px) {
  .headlines__main { /* Media query for tablets */
    font-size: 40px;
  }
}
.headlines__secondary {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  padding: 0px 30px;
  padding-top: 18px;
}
@media (min-width: 769px) {
  .headlines__secondary { /* Media query for tablets */
    padding-top: 35px;
  }
}
.headlines__button {
  width: 218px;
  margin-top: 27px;
}

/************************ Howto **************************/
.howto {
  background-color: #FFFFFF;
  padding-top: 48px;
  padding-bottom: 68px;
}
@media (min-width: 769px) {
  .howto { /* Media query for tablets */
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.howto__title {
  padding-bottom: 26px;
}
.howto__flex-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 0px 20px 0px 32px;
}
@media (min-width: 769px) {
  .howto__flex-container { /* Media query for tablets */
    flex-direction: row;
    -moz-column-gap: 36.51px;
         column-gap: 36.51px;
  }
}
.howto__step {
  height: 72.38px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@media (min-width: 769px) {
  .howto__step { /* Media query for tablets */
    width: 33%;
  }
}
.howto__step-index {
  width: 24px;
  height: 24px;
  position: relative;
  left: -12px;
  border-radius: 24px;
  background-color: #9356DC;
  font-size: 15px;
  color: #FFFFFF;
}
.howto__step-icon {
  margin-left: 13px;
  font-size: 20px;
  color: #7E7E7E;
}
.howto__step-icon--purple {
  color: #9356DC;
}
.howto__step-text {
  margin-left: 27px;
  font-size: 16px;
  font-weight: 500;
}

/********************* Restaurants ***********************/
.restaurants {
  padding-top: 54px;
  padding-bottom: 66px;
  background-color: #F6F6F6;
}
@media (min-width: 769px) {
  .restaurants { /* Media query for tablets */
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.restaurants__title {
  margin-bottom: 29px;
}
.restaurants__flex-container {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding: 0px 18px;
}
@media (min-width: 769px) {
  .restaurants__flex-container { /* Media query for tablets */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
  }
}

.restaurant-card {
  height: 251px;
  color: #000000;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Transitions */
  transition: transform 200ms, box-shadow 400ms;
  /* Animations */
  animation: card-enter 1000ms both;
}
@media (min-width: 769px) {
  .restaurant-card { /* Media query for tablets */
    width: 46%;
  }
}
.restaurant-card__img {
  height: 70%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-card__content {
  height: 30%;
}
.restaurant-card__text {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  padding-left: 13px;
}
.restaurant-card__title {
  font-size: 18px;
  font-weight: 700;
}
.restaurant-card__location {
  font-size: 17px;
  font-weight: 300;
}
.restaurant-card__heart-icon {
  margin: 20px;
  font-size: 22px;
}
.restaurant-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.restaurant-card:active {
  transform: translate(3px, 3px);
}
.restaurant-card.anim-step--1 {
  animation-delay: 3750ms;
}
.restaurant-card.anim-step--2 {
  animation-delay: 4000ms;
}
.restaurant-card.anim-step--3 {
  animation-delay: 4250ms;
}
.restaurant-card.anim-step--4 {
  animation-delay: 4500ms;
}

/****************** Restaurants pages ********************/
.restaurant-bg img {
  width: 100%;
  height: 275px;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  /* Animation */
  animation: show-bg 1000ms both;
}
@keyframes show-bg {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.menu {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  margin-top: 220px;
}
.menu__title-container {
  white-space: nowrap;
  overflow: hidden;
  padding: 32px 17px 42px 17px;
}
@media (min-width: 769px) {
  .menu__title-container { /* Media query for tablets */
    justify-content: center;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
.menu__title-txt {
  font-size: 28px;
  font-weight: 400;
  font-family: "Shrikhand";
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__like-icon {
  margin: 0;
  padding: 0;
}
.menu__section {
  padding: 0px 13px 40px 13px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
@media (min-width: 769px) {
  .menu__section { /* Media query for tablets */
    max-width: 634px;
    margin: auto;
  }
}
.menu__section-title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.menu__section-title::after {
  content: "";
  height: 3px;
  width: 40px;
  margin-top: 6px;
  display: block;
  background-color: #99E2D0;
}
.menu__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__button {
  width: 186px;
}

.meal-card {
  align-items: flex-end;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  /* Transitions */
  transition: transform 200ms, box-shadow 200ms;
  /* Animations */
  position: relative;
  animation: card-enter 1000ms both;
}
.meal-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  padding: 12px 0px 12px 15px;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
}
.meal-card__content h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal-card__content h5 {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal-card__price-container {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.meal-card__price {
  font-size: 18px;
  font-weight: 500;
  padding-right: 16px;
  padding-bottom: 12px;
}
.meal-card__notif {
  width: 0px;
  height: 69px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
  background-color: #99E2D0;
}
.meal-card__notif-icon {
  transform: scale(0);
  font-size: 20px;
  -webkit-text-fill-color: #FFFFFF;
  color: #99E2D0;
}
.meal-card__notif {
  transition: width 400ms;
}
.meal-card__notif-icon {
  transition: transform 400ms;
}
.meal-card:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.meal-card:hover .meal-card__notif {
  width: 59px;
}
.meal-card:hover .meal-card__notif-icon {
  transform: scale(1);
}
.meal-card:active {
  transform: translate(3px, 3px);
}
.meal-card.anim-step--1 {
  animation-delay: 130ms;
}
.meal-card.anim-step--2 {
  animation-delay: 260ms;
}
.meal-card.anim-step--3 {
  animation-delay: 390ms;
}
.meal-card.anim-step--4 {
  animation-delay: 520ms;
}

/************************ FOOTER *************************/
.footer {
  color: #FFFFFF;
  background-color: #353535;
  padding: 22px 25px;
}
@media (min-width: 1024px) {
  .footer { /* Media query for desktops */
    padding: 57px 25px 30px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
}
.footer__title {
  font-size: 18px;
  margin-bottom: 22px;
}
@media (min-width: 1024px) {
  .footer__title { /* Media query for desktops */
    margin-bottom: 0;
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 16px;
}
@media (min-width: 1024px) {
  .footer-nav { /* Media query for desktops */
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.footer-nav__line--bold {
  font-weight: 500;
}
.footer-nav__icon {
  font-size: 13px;
  width: 22px;
}
.footer-nav__link {
  color: #FFFFFF;
}

/************************ Loader *************************/
.loader__overlay {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  flex-direction: column;
  background-color: #EAEAEA;
  animation: loader-hide 1000ms 3500ms both;
}
.loader__content {
  flex-direction: column;
  animation: loader-hide 500ms 3000ms both;
}
.loader__circles-container {
  width: 200px;
  position: relative;
}
.loader__circle {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  transform-origin: 50% 50%;
  background-color: #9356DC;
  animation: loader-loop 1500ms infinite ease-in-out alternate;
}
.loader__circle--1 {
  animation-delay: 100ms;
}
.loader__circle--2 {
  animation-delay: 200ms;
}
.loader__circle--3 {
  animation-delay: 300ms;
}
.loader__circle--4 {
  animation-delay: 400ms;
}
.loader__circle--5 {
  animation-delay: 500ms;
}
@keyframes loader-hide {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    z-index: -1;
  }
}
@keyframes loader-loop {
  from {
    left: 0%;
    opacity: 10%;
    background-color: #003A68;
  }
  20% {
    left: 0%;
  }
  50% {
    opacity: 100%;
    width: 15px;
    height: 15px;
    background-color: #9356DC;
  }
  80% {
    left: 100%;
  }
  to {
    left: 100%;
    opacity: 10%;
    background-color: #003A68;
  }
}

/******************** Media queries **********************/
@media (min-width: 769px) { /* Media query for tablets */ }
@media (min-width: 1024px) { /* Media query for desktops */ }/*# sourceMappingURL=style.css.map */