/*********************** GENERAL *************************/
/*********************************************************/

:root {
    --color-main-bg: #FFFFFF;

    --color-gray-light: #F6F6F6;
    --color-gray-dark: #EAEAEA;
    --color-gray-very-dark: #353535;

    --color-green-light: #99E2D0;
    --color-green-dark: #008766;

    --color-blue-light: #89C8FA;
    --color-blue-dark: #003A68;
    --color-purple: #9356DC;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;;
}


/************************ HEADER *************************/
/*********************************************************/

header {
    background-color: var(--color-main-bg);
}

.header-container {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 14px;
    margin-bottom: 5px;
}

.header-logo {
    height: 44px;
}

/************************* MAIN **************************/
/*********************************************************/

section {
    height: 200px;
}

.geolocalisation {
    background-color: var(--color-gray-dark);
}

.headlines {
    background-color: var(--color-gray-light);
}

.fonctionnement {
    background-color: var(--color-main-bg);
}

.restaurants {
    background-color: var(--color-gray-light);
}

/************************ FOOTER *************************/
/*********************************************************/

footer {
    height: 200px;
    background-color: var(--color-gray-very-dark);
}